@model TransactionInformationDto

@{
    ViewData["Title"] = "Transaction Details";
}

<div class="container" style="margin-top:100px">
    <div class="card px-4 py-3">
        <div class="row">
            <center>
                <h2 class="alert alert-info p-2">
                    <i class="bi bi-info-circle"></i> Transaction Details
                </h2>
            </center>

            <center>
                <h4 class="text-success p-2">
                    <i class="bi bi-check-circle-fill"></i> Money has transfer successfully
                </h4>
            </center>

            <div class="col-md-4 justify-content-between mt-5 mb-5 p-2">
                <h5 class="alert alert-info p-2 w-50">Sender Details</h5>
                @if (Model.SenderDetails != null)
                {
                    <label class="p-1"><b>Name :</b> @(Model.SenderDetails.FirstName + " " + Model.SenderDetails.MiddleName + " " + Model.SenderDetails.LastName)</label>
                    <br />

                    <label class="p-1"><b>Country :</b> @Model.SenderDetails.Country</label>
                    <br />

                    <label class="p-1"><b>Address :</b> @Model.SenderDetails.Address</label>
                    <br />

                }
            </div>

            <div class="col-md-4  justify-content-between mt-5 mb-5 p-2">
                <h5 class="alert alert-info p-2 w-50">Receiver Details</h5>
                @if (Model.ReceiverDetails != null)
                {
                    <label class="p-1"><b>Name :</b> @(Model.ReceiverDetails.FirstName + " " + Model.ReceiverDetails.MiddleName + " " + Model.ReceiverDetails.LastName)</label>
                    <br />

                    <label class="p-1"><b>Country :</b> @Model.ReceiverDetails.Country</label>
                    <br />

                    <label class="p-1"><b>Address :</b> @Model.ReceiverDetails.Address</label>
                    <br />

                }
            </div>

            <div class="col-md-4  justify-content-between mt-5 mb-5 p-2">
                <h5 class="alert alert-info p-2 w-50">Payment Details</h5>
                @if (Model.PaymentDetails != null)
                {
                    <label class="p-1"><b>Bank Name :</b> @Model.PaymentDetails.Bank_Name</label>
                    <br />

                    <label class="p-1"><b>Account Number :</b> @Model.PaymentDetails.Account_Number</label>
                    <br />

                    <label class="p-1"><b>Transfer Amount :</b> <span class="alert alert-danger p-1">@(Model.PaymentDetails.Transfer_Amount + " " + Model.PaymentDetails.Transfer_Currency_Type)</span></label>
                    <br />

                    <label class="p-1"><b>Payout Amount :</b> <span class="alert alert-danger p-1">@(Model.PaymentDetails.Payout_Amount + " " + Model.PaymentDetails.Payout_Currency_Type) </span> </label>
                    <br />

                    <label class="p-1"><b>Exchange Rate :</b> @(Model.PaymentDetails.Exchange_Rate + " " + Model.PaymentDetails.Transfer_Currency_Type)</label>
                    <br />
                }
            </div>
            <center><a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Go To Home</a></center>
        </div>
    </div>
</div>